body {
  width: 15em;
  line-height: 1.6em;
  color: #fff;
  background-color: #000;
  min-height: 130px;
  max-height: 130px;
  height: 130px;
}
a,
a:visited {
  color: #fd0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
