body {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  min-height: 210px;
  max-height: 210px;
  height: 210px;
}

.homepage-headline {
  font-size: 3em;
  margin: 20px 0;
  display: block;
}

strong {
  font-size: 1.6em;
}
.countin {
  font-family: arial, monospace;
  display: inline-block;
}
.yellow {
  color: #fd0;
}
.no-bold {
  font-weight: normal;
}
