@charset "utf-8";
/* CSS reset */
html {
  font-size:100%; text-rendering:optimizeLegibility;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
img,
form,
label,
iframe,
fieldset {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: inherit;
  font-weight: inherit;
  border: none;
}
html {
  background-color: #777;
}
body {
  margin: 0 auto;
  width: 700px;
  font-family: arial, helvetica, sans-serif;
  font-size: .75em;
  padding: 10px 20px;
  background-color: #fff;
  min-height: 400px;
}
body.uw_tf_standard_sidebar {
  width: 220px;
}

/* styles from theme css */

p {
  margin-bottom: 1em;
}

/* links */
a,
a:visited {
  color: #923;
}
a:hover,
a:focus {
  color: #03f;
}

/* lists */
ul,
ol {
  margin: 0 0 2em 2em;
}
li {
  margin: 0 0 1em;
}

/* headings */
h1 {
  background: #fd0;
  padding: 6px 20px;
  font-size: 2em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.8em;
  margin: 0 0 20px;
}
h3 {
  font-size: 1.3em;
  margin: 1em 0;
}
h4 {
  font-size: 1.2em;
  margin: 1em 0;
  font-weight: bold;
}

.black,
.homepage-news-events h2 {
  font-size: 1.1em;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  padding: 5px 10px;
  font-weight: bold;
  margin: 0;
}

/* block links */
.blocklinks ul,
ul.blocklinks {
  margin: 0 0 2em;
  list-style-image: none;
  list-style-type: none;
}
.blocklinks ul li,
ul.blocklinks li {
  margin-bottom: 0;
}
.blocklinks a {
  display: block;
  position: relative;
  color: #000;
  padding: 5px 10px;
  font-size: 1em;
  background: #eee;
  border-top: solid 2px #fff;
  text-decoration: none;
}
.blocklinks a:visited {
  color: #000;
}
.blocklinks a:hover,
.blocklinks a:focus {
  color: #000;
  background: #fd0;
  text-decoration: none;
}
.blocklinks .wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.blocklinks a.image {
  padding: 10px;
}
.blocklinks strong.heading {
  display: block;
  font-size: 2em;
  margin: 10px 0 5px;
}

/* columns */
.columns-wrapper {
  margin: 0;
  overflow: hidden;
}
.columns-wrapper.three .column {
  float: left;
  width: 18.3em;
  min-width: 220px;
  max-width: 31%;
  margin-left: 10px;
  padding-left: 10px;
}
.columns-wrapper.two .column {
  float: left;
  width: 28.3em;
  min-width: 340px;
  max-width: 48%;
  margin-left: 20px;
}
.columns-wrapper .column:first-child {
  margin-left: 0;
  border-left: none;
  padding-left: 0;
}

.morelink {
  text-align: right;
  padding: 10px;
}
.morelink a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 1px #aaa;
}
.morelink a:hover,
.morelink a:focus {
  color: #923;
  border-color: #923;
}

/*image alignment*/
img.image-left {
  float: left;
  margin: 0 1em 1em 0;
}
img.image-right {
  float: right;
  margin: 0 0 1em 1em;
}
img.image-center {
  display: block;
  margin: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}
